h1 {
  color: #77adad;
  font-family: 'Sacramento', cursive;
  font-size: 12rem;
}

h2 {
  color: #77adad;
  font-family: 'Sacramento', cursive;
}

h3 {
  font-family: 'Pacifico', cursive;
}

h4 {
  color: #77adad;
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #839b97;
  line-height: 2;
}