# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

AyerPoster-Medium.ttf
AyerPoster-Medium.woff
AyerPoster-Medium.woff2
banana-v1-transformed.glb

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore local re-development 
clinto-curriculum-vitae
