.footer-link{
    color: #495464;
    text-decoration: none;
  }
  
  .copyright{
    color: #495464;
    font-size: 0.75rem;
    background-color: #bbbfca;
    padding-top: 20px;
    margin: 0px;
  }
  