h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
  }
  
  h2{
    color: #66BFBF;
    font-family: 'Megrim', cursive;
  }
  
  h3{
    font-family: 'Pacifico', cursive;
  }
  
  p{
    font-family: 'Roboto', sans-serif;
    color: #839b97;
    line-height: 2;
  }